*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace, monospace;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

a {
  color: black;
}

body {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  justify-items: center;
}

.container {
  padding: 32px;
  display: grid;
  grid-template: 1fr auto / auto;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 128px;
}

.canvas {
  display: flex;
  max-width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.nav a {
  width: fit-content;
}

.nav-text {
  font-weight: bold;
  font-size: large;
}

.footer {
  display: flex;
  padding-top: 8px;
  width: 100%;
  border-top: 1px solid;
  justify-self: end;
  font-size: small;
}

.footer a {
  text-decoration: none;
}

h1 {
  margin-bottom: 48px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .nav-text {
    font-weight: bold;
    font-size: 1rem;
  }
}
